digitaliseringskataloget.dk/sf1461/2.0/Tekniske specifikationer/xsd/BeskedfordelerOperationer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="urn:oio:sts:beskedfordeler:1.0.0"
        xmlns:oio="urn:oio:definitions:1.0.0"
        xmlns:sd="urn:oio:sagdok:3.0.0"
        xmlns:tns="urn:oio:sts:beskedfordeler:1.0.0"
        xmlns:besked="urn:oio:besked:kuvert:1.0"
        oio:mapping="urn:oio:sagdok:MPD:3.0.0">

    <import namespace="urn:oio:sagdok:3.0.0" schemaLocation="1.1/SagDokObjekt.xsd"/>
    <import namespace="urn:oio:besked:kuvert:1.0" schemaLocation="Beskedkuvert.xsd"/>


    <element name="AfsendBeskedInput" type="tns:AfsendBeskedInputType" oio:definition="urn:oio:sts:afsendbeskedinput:ADD:2.0.0"/>
    <complexType name="AfsendBeskedInputType" oio:definition="urn:oio:sts:afsendbeskedinputtype:ADD:2.0.0">
        <sequence>
            <element ref="besked:Haendelsesbesked" />
        </sequence>
    </complexType>

    <element name="AfsendBeskedOutput" type="sd:BasicOutputType" oio:definition="urn:oio:sts:afsendbeskedoutput:ADD:2.0.0"/>

    <element name="FlytBeskedTilFejlkoeInput" type="tns:FlytBeskedTilFejlkoeInputType" oio:definition="urn:oio:sts:flytbeskedtilfejlkoeinput:ADD:2.0.0"/>
    <complexType name="FlytBeskedTilFejlkoeInputType" oio:definition="urn:oio:sts:flytbeskedtilfejlkoeinputtype:ADD:2.0.0">
        <sequence>
            <element ref="besked:Haendelsesbesked" />
        </sequence>
    </complexType>

    <element name="FlytBeskedTilFejlkoeOutput" type="sd:BasicOutputType" oio:definition="urn:oio:sts:flytbeskedtilfejlkoeoutput:ADD:2.0.0"/>

</schema>