digitaliseringskataloget.dk/sf1461/2.0/Tekniske specifikationer/wadl/AnvenderSystem.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
    xmlns:sts="urn:oio:sts:1.0.0">

    <grammars>
        <include href="../xsd/AnvendersystemOperationer.xsd"></include>
    </grammars>
    <resources base="http://anvendersystem/sts/beskedfordeler/">
        <resource path="ModtagBesked">
            <method id="ModtagBesked" name="POST">
                <request>                    
                    <representation mediaType="application/xml">
                        <param name="besked" style="plain" type="sts:ModtagBeskedInputType"/>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="application/xml">
                        <param name="result" style="plain"  type="sts:ModtagBeskedOutputType"/>
                    </representation>
                </response>
            </method>
        </resource>
    </resources>
</application>