digitaliseringskataloget.dk/sf1461/Tekniske specifikationer/wsdl/Beskedfordeler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="BeskedfordelerService"
        targetNamespace="urn:dk:kombit:vl:beskedfordeler:wsdl:1.0.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:dk:kombit:vl:beskedfordeler:wsdl:1.0.0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:vl="urn:oio:sts:beskedfordeler:vaerdiliste:1.0.0"
        xmlns:bf="urn:oio:sts:beskedfordeler:1.0.0"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
>

    <wsp:Policy wsu:Id="ServicePortBindingPolicy">
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">
    </wsp:Policy>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:oio:sts:beskedfordeler:vaerdiliste:1.0.0" schemaLocation="../xsd/VaerdilisteOperationer.xsd"/>
            <xsd:import namespace="urn:oio:sts:beskedfordeler:1.0.0" schemaLocation="../xsd/BeskedfordelerOperationer.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OpretVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:OpretInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OpretVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:OpretOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ImportVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:ImportInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ImportVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:ImportOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:RetInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:RetOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="LaesVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:LaesInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="LaesVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:LaesOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:ListInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:ListOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SoegVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:SoegInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SoegVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:SoegOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SletVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:SletInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SletVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:SletOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PassiverVaerdiListeRequestMessage">
        <wsdl:part name="request" element="vl:PassiverInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PassiverVaerdiListeResponseMessage">
        <wsdl:part name="response" element="vl:PassiverOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TilfoejVaerdierRequestMessage">
        <wsdl:part name="request" element="vl:TilfoejVaerdierInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TilfoejVaerdierResponseMessage">
        <wsdl:part name="response" element="vl:TilfoejVaerdierOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FjernVaerdierRequestMessage">
        <wsdl:part name="request" element="vl:FjernVaerdierInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FjernVaerdierResponseMessage">
        <wsdl:part name="response" element="vl:FjernVaerdierOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FlytBeskedTilFejlkoeRequestMessage">
        <wsdl:part name="request" element="bf:FlytBeskedTilFejlkoeInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FlytBeskedTilFejlkoeResponseMessage">
        <wsdl:part name="response" element="bf:FlytBeskedTilFejlkoeOutput">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BeskedfordelerPortType">
        <wsdl:operation name="opretvaerdiliste">
            <wsdl:input message="tns:OpretVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OpretVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importvaerdiliste">
            <wsdl:input message="tns:ImportVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:ImportVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retvaerdiliste">
            <wsdl:input message="tns:RetVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:RetVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laesvaerdiliste">
            <wsdl:input message="tns:LaesVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:LaesVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sletvaerdiliste">
            <wsdl:input message="tns:SletVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:SletVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passivervaerdiliste">
            <wsdl:input message="tns:PassiverVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PassiverVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listvaerdiliste">
            <wsdl:input message="tns:ListVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:ListVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soegvaerdiliste">
            <wsdl:input message="tns:SoegVaerdiListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:SoegVaerdiListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="tilfoejvaerdier">
            <wsdl:input message="tns:TilfoejVaerdierRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:TilfoejVaerdierResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fjernvaerdier">
            <wsdl:input message="tns:FjernVaerdierRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:FjernVaerdierResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="flytbeskedtilfejlkoe">
            <wsdl:input message="tns:FlytBeskedTilFejlkoeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:FlytBeskedTilFejlkoeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Beskedfordeler" type="tns:BeskedfordelerPortType">
        <wsp:PolicyReference URI="#ServicePortBindingPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opretvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/opret"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/import"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/ret"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laesvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/laes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sletvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/slet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passivervaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/passiver"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soegvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/soeg"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listvaerdiliste">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/list"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="tilfoejvaerdier">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/tilfoejvaerdier"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fjernvaerdier">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/vaerdiliste/fjernvaerdier"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="flytbeskedtilfejlkoe">
            <soap:operation soapAction="http://kombit.dk/sts/beskedfordeler/flytbeskedtilfejlkoe"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Beskedfordeler">
        <wsdl:port name="stsbeskedfordeler" binding="tns:Beskedfordeler">
            <soap:address location="http://localhost:8080/sts-bf-soap/Beskedfordeler"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
