digitaliseringskataloget.dk/sf1520/4.0/QueryService/QueryServiceMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/CPR/CPRQueryService/3/"
            xmlns:callctx="http://serviceplatformen.dk/xml/schemas/CallContext/1/"
            xmlns:cpr="http://serviceplatformen.dk/xml/schemas/cpr/PNR/1/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:invctx="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/"
            xmlns:authctx="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/"
            elementFormDefault="qualified" version="1.0"
            targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/CPR/CPRQueryService/3/">

    <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/CallContext/1/" schemaLocation="sp/CallContext_1.xsd"/>
    <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/" schemaLocation="sp/InvocationContext_1.xsd"/>
    <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" schemaLocation="sp/AuthorityContext_1.xsd"/>
    <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/cpr/PNR/1/" schemaLocation="sp/PNR_1.xsd"/>

    <xsd:include schemaLocation="xsd/QueryServiceTypes.xsd" />

    <xsd:element name="callCPRPersonListRequest" type="tns:CPRPersonListRequestType"/>
    <xsd:complexType name="CPRPersonListRequestType">
        <xsd:sequence>
            <xsd:element ref="callctx:CallContext" minOccurs="0"/>
            <xsd:element ref="authctx:AuthorityContext" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="invctx:InvocationContext" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="searchParameter" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="callCPRPersonListResponse" type="tns:CPRPersonListResponseType"/>
    <xsd:complexType name="CPRPersonListResponseType">
        <xsd:sequence>
            <xsd:element name="antal" type="xsd:integer"/>
            <xsd:element name="person" type="tns:CPRPersonListElementType" minOccurs="0" maxOccurs = "250" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
